{% load static %}

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script type="text/javascript" src={% static 'editor/libs.js' %}></script>
<script type="text/javascript" src={% static 'editor/syntax.js' %}></script>
<script type="text/javascript" src={% static 'editor/buttons.js' %}></script>
<script type="text/javascript" src={% static 'editor/editor.js' %}></script>

<link type="text/css" rel="stylesheet" href={% static 'editor/editor.css' %}>

<style type="text/css">
    body {
        background: #F5F5F5;
    }

    #moratab {
        align-content: center;
        margin-top: 20px;
    }

    #wmd-input, .modal .btn, .modal p {
        font-family: IRMitra Arial;
    }

    .deletelink {
        box-sizing: content-box;
    }
</style>

<template id="temp_{{ widget.name }}">
<div class="container" id="container_only">
    <div id="moratab_{{ widget.name }}">
    </div>
</div>
</template>
<textarea name="{{ widget.name }}" id="hidden_markdown_{{ widget.name }}"
       class="hidden_markdown_class"></textarea>

<script type="text/javascript">
    var content_{{ widget.name }} = "";
    var editor;
    {% if widget.value != None %} content_{{ widget.name }} = "{{ widget.value|escapejs }}"{% endif %}
    $("#hidden_markdown_{{ widget.name }}").val(content_{{ widget.name }});
    $("#hidden_markdown_{{ widget.name }}").focus(()=>{
        $(".hidden_markdown_class").show();
        $("#container_only").remove();
        $("#hidden_markdown_{{ widget.name }}").after($("#temp_{{ widget.name }}").html());
        editor = $('#moratab_{{ widget.name }}').moratab(content_{{ widget.name }},
            {strings: {help: ''}},
            (textContent) => {
            content_{{ widget.name }} = textContent;
                $("#hidden_markdown_{{ widget.name }}").val(textContent);
            });
        $("#hidden_markdown_{{ widget.name }}").hide();
    });
</script>